<section class="content-box">
    <p id="notice"><%= notice %></p>

    <h1>Listing Seals</h1>

    <% if @seals.nil? %>
        <p>You have no seals to display.</p>
    <% else %>
        <table>
            <thead>
                <tr>
                    <th colspan="3"></th>
                </tr>
            </thead>

            <tbody>
                <% @seals.each do |seal| %>
                    <tr>
                        <td><%= seal.created_at %></td>
                        <td><%= link_to 'Show', controller: :seals, action: :show, stamp: seal.stamp %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    <% end %>
    <br>
    <%= link_to 'New', controller: :seals, action: :new %>
</section>
