// Place all the styles related to the seals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-remove-button {
    margin-left: 3px;
}

div.user-add-fields {
    margin-bottom: 4px;
}

#seal-name-fields-button {
    margin-bottom: 6px;
}

textarea#seal_text {
    height: 110px;
    width: 360px;
}